/* .user-table {
  background-color: #f8f9fa;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-table thead {
  background-color: #343a40;
  color: #fff;
}

.user-table tbody tr:nth-child(odd) {
  background-color: #e9ecef;
}

.user-table tbody tr:hover {
  background-color: #adb5bd;
}

.modal-header,
.modal-footer {
  background-color: #f1f1f1;
}

.modal-title {
  color: #495057;
}

.form-control {
  border-radius: 4px;
  margin-bottom: 15px;
} */
